.footer-nav{
    /* position: fixed; */
    margin-top: 50px;
    padding: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
}

.footer-nav ul{
    display: flex;
    justify-content: space-evenly;
}